@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* base styles */
* {
    --gray-20: #333333;
    --gray-35: #595959;
    --gray-75: #BFBFBF;
    --gray-85: #D9D9D9;
    --gray-90: #E6E6E6;

    margin: 0;
    font-family: "Roboto", serif;
    color: var(--gray-20);
}

html, body, #root, .App {
    height: 100%;
}

.navbar {
    padding: 10px;
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto 20px;
    border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
    color: #333;
    font-size: 20px;
}

.navbar .links {
    margin-left: auto;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}

.navbar a:hover {
    color: #545454;
}

.content {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0;
    height: auto;
    overflow-y: auto;
}

video::-webkit-media-controls {
    display:none !important;
}

.home {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.home p {
    margin: 40px;
}

.button {
    width: 200px;
    background: var(--gray-90);
    color: var(--gray-20);
    font-weight: 700;
    font-size: 16px;
    border: 0;
    padding: 16px;
    border-radius: 3px;
    cursor: pointer;
}

a {
    cursor: pointer;
}

li {
    cursor: pointer;
    text-decoration: underline;
}

.video-player {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-player video {
    width: 100%;
}

.rating-page, .form-page, .login, .register {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rating-page input {
    margin: 20px;
}

.form-container, .login-form-container {
    margin: 20px;
}

.form-container input, .form-container select {
    margin: 10px;
    min-width: 50px;
    padding: 3px 20px;
    text-align: center;
}

.experiment-list a::after {
    content: "\a";
    white-space: pre;
}

.experiment-panel-list a::after {
    content: "\a";
    white-space: pre;
}